{%load static%}
<!-- set class if biz is not local -->
{%if business.not_local%}
<li class="notlocal">
{%else%}
<li>
{%endif%}
<!-- For food halls collapse/exapnd logic-->
{%if business.is_food_hall%}
<a href="#food_hall{{business.id}}" title="{{business.name}}" class="businessLink" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="food_hall{{business.id}}" id="food-hall{{business.id}}">{{business.name}}
  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-caret-down-square" viewBox="0 0 16 16" aria-hidden="true"><path d="M3.626 6.832A.5.5 0 0 1 4 6h8a.5.5 0 0 1 .374.832l-4 4.5a.5.5 0 0 1-.748 0z"/><path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/></svg></a>
{%else%}
<a href="{{business.link}}" title="{{business.name}}" class="businessLink">{{business.name}}</a>
{%endif%}
<!-- outdoor seating, don't track anymore
{%if business.has_outdoor_seating%}
	<img src="{% static "img/outdoor_seating_logo.png" %}" class="outdoorSeatingIcon" title="Outdoor Seating" alt="(Outdoor Seating)">
{%endif%} -->
<!-- Temporarily closed -->
{%if business.is_temp_closed%}
	(temp closed)
{%endif%}
<!-- set class if biz is not local -->
{%if business.is_new_biz%}
	<span class="badge text-bg-success">New!</span>
{%elif business.is_coming_soon%}
	<span class="badge text-bg-info">Coming Soon</span>
{%endif%}
<!-- Architect's hidden bar-->
{%if "The Architect" in business.name%}
  <img src="{% static "img/books.jpg" %}" class="books" title="Behind the bookcase" alt="Behind the bookcase" onclick="showhide_menu('btn1');">
  </li>
  <li id="btn1" class="btn" style="display:none;">
    <a href="http://www.architectbar.com/the-green-light/" class="businessLink" title="The Green Light">The Green Light</a>
  </li>
{%endif%}
<!-- Adding vendors to food halls-->
{%if business.is_food_hall%}
	<div class="collapse" id="food_hall{{business.id}}">
	  <ul>
	  {%for vendor in vendor_list%}
		{%if vendor.food_hall == business%}
		  <!-- set class if biz is not local -->
		  {%if vendor.not_local%}
		  <li class="notlocal">
		  {%else%}
		  <li>
		  {%endif%}
		  <!-- set class if biz is not local -->
		  <a href="{{vendor.link}}">{{vendor.name}}</a>
		  {%if vendor.is_new_biz%}
		  <span class="badge text-bg-success">New!</span>
		  {%elif vendor.is_coming_soon%}
		  <span class="badge text-bg-info">Coming Soon</span>
		  {%endif%}
		  </li>
		{%endif%}
	  {%endfor%}
	  </ul>
	</div>
{%endif%}
</li>