{% extends "generic_map_base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
{% load leaflet_tags %}
<div class="container">
  <div class="row">
    <form action="?" method="get">
      <label for="lat_input">Lat:</label>
      <input id="lat_input"
               type="text"
               name="lat_input"
               placeholder=""
               value="{{ lat_input }}">
      <label for="lon_input">Lon:</label>
      <input id="lon_input"
               type="text"
               name="lon_input"
               placeholder=""
               value="{{ lon_input }}">
      <input type="submit" value="Submit">
    </form>
  </div>
  {% leaflet_map "parcel_picker_map" callback="window.map_init_picker" %}
  {% for parcel in all_parcel_data %}
  <div class="row">
    <div class="col border bg-light p-2">
      {% leaflet_map "parcel_map" callback="window.map_init_basic" %}
    </div>
    <div class="col border bg-light p-2">
      <h4>{{parcel.0.propdesc}}</h4>
      <ul>
        <li>{{parcel.0.addr1}}</li>
        <li>{{parcel.0.addr2}}</li>
        <li>{{parcel.0.addr3}}</li>
      </ul>
      {% if parcel.1 %}
        {% render_table parcel.1 %}
      {% else %}
        <p>No changes to the property.</p>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  <!-- Debug data
  <div class="row">
    {{all_parcel_data}}
  </div> -->
</div>
<script type="text/javascript">
  function map_init_picker (map, options) {
    map.setView([35.779591,-78.638176], 15);

    var lat;
    var lng;

    map.on('click', function(e) {
        //console.log(e.latlng);
        lat = e.latlng.lat;
        lng = e.latlng.lng;
        document.getElementById('lat_input').value = lat;
        document.getElementById('lon_input').value = lng;
    });
  }
</script>
{% for parcel in all_parcel_data %}
<script type="text/javascript">
  var parcel_geojson{{parcel.0.id}} = {{parcel.0.geom.geojson|safe}};
</script>
<script type="text/javascript">
    function map_init_basic (map, options) {
      map.setView([{{parcel.0.geom.centroid.y}},{{parcel.0.geom.centroid.x}}], 18);
      var parcel_data = L.geoJSON(parcel_geojson{{parcel.0.id}}, {style: {color:'orange'}});
      map.addLayer(parcel_data);
    }
</script>
{% endfor %}
{%endblock content%}