{% extends "generic_map_base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
{% load leaflet_tags %}
<div class="container" style="height:800px;">
  {% leaflet_map "debug_map" callback="window.map_init_debug" %}
</div>
<div>
    <p>{{parcel_list}}</p>
    <table>
        <tr>
            <th>Parcel</th>
            <th>REID</th>
        </tr>
        {% for parcel in parcel_debug_data %}
         <tr>
             <td>{{parcel}}</td>
             <td>REID</td>
         </tr>
        {% endfor%}
    </table>
</div>
<script type="text/javascript">
    var geojsonFeature = {{sections|safe}};
    var orphan_parcels_geojson = {{geojson_data|safe}};
</script>
<script type="text/javascript">
    function map_init_debug(map, options) {
    //Sections
    var section_data = L.geoJSON(geojsonFeature, {
        style: {
            color: 'orange'
        },
		onEachFeature : onEachSection,
    });

    function onEachSection(feature, layer) {
        var popupContent = '<p>section id: ' + feature.properties.pk + '</p>';
        layer.bindPopup(popupContent, {
            maxWidth: 600
        });
    }

    map.addLayer(section_data);
    map.fitBounds(section_data.getBounds());

    //Parcels
    var parcel_data = L.geoJSON(orphan_parcels_geojson, {
        style: {
            color: 'black'
        },
        onEachFeature: onEachParcel,
    });

    function onEachParcel(feature, layer) {
        var popupContent = '<p>PARCEL_ID: ' + feature.properties.PARCEL_ID + '</p>';
        layer.bindPopup(popupContent, {
            maxWidth: 600
        });
    }

    map.addLayer(parcel_data);
}

</script>
{%endblock content%}