  {% extends "tod_base.html" %}

  {% block content %}
  <style>
    .info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
  </style>
  <body>
    {% load leaflet_tags %}
    {% leaflet_map "itb_map" callback="window.map_init_basic" %}
  </body>
  <script type="text/javascript">
    function map_init_basic (map, options) {
      map.setView([35.779935,-78.614291], 15);

      // Start NCOD
      var ncod_data = L.geoJSON(geojsonFeature_ncod, {
        style: ncod_style,
        onEachNCODFeature: onEachNCODFeature,
      });

      function ncod_style(feature) {
        return {
          color: 'rgb(170, 68, 102)',
        };
      }

      function onEachNCODFeature(feature, layer) {
        var effective = new Date(feature.properties.EFF_DATE);

        var popupContent_ncod = '<h2>'+feature.properties.OLAY_NAME+'</h2>';
        popupContent_ncod += '<table width=400>';
        popupContent_ncod += '<tr><td>Effective Date</td><td>'+(effective.getMonth() + 1)+'/'+effective.getDate()+'/'+effective.getFullYear()+'</td></tr>';
        popupContent_ncod += '<tr><td>Zoning Case</td><td>'+feature.properties.ZONE_CASE+'</td></tr>';
        popupContent_ncod += '<tr><td>Area</td><td>'+(feature.properties.SHAPE_Area/43560).toFixed(2)+' Acres</td></tr>';
        popupContent_ncod += '</table>';
        layer.bindPopup(popupContent_ncod, { maxWidth: 600 });
      }

      map.addLayer(ncod_data);
      // End NCOD

      // Start TOD
      var tod_data = L.geoJSON(geojsonFeature, {
        style: parcel_style,
        onEachFeature: onEachFeature,
      });

      function parcel_style(feature) {
          return {
              weight: 2,
              opacity: 1,
              color: 'white',
              dashArray: '3',
              fillOpacity: 0.7,
              fillColor: 'green',
          };
      }

      function onEachFeature(feature, layer) {
        var popupContent = '<p>'+feature.properties.property_address+'</p>';
        layer.bindPopup(popupContent, { maxWidth: 600 });
      }

      map.addLayer(tod_data);
      // End TOD

      // Start HOD1
      var hod_data = L.geoJSON(geojsonFeature_hod, {
        style: hod_style,
        onEachHODFeature: onEachHODFeature,
      });

      function hod_style(feature) {
        return {
          color: 'orange',
        };
      }

      function onEachHODFeature(feature, layer) {
        var popupContent = '<p>HOD</p>';
        layer.bindPopup(popupContent, { maxWidth: 600 });
      }

      map.addLayer(hod_data);
      // End HOD

      // Legend
      var legend = L.control({position: 'topright'});

      legend.onAdd = function (map) {
          var div = L.DomUtil.create('div', 'info legend');
          div.innerHTML = `
            <form id="legend_form">
              <table>
                <tr>
                  <td><input id="newberntod" type="checkbox" checked/>New Bern TOD</td>
                  <td id="legend_color_cell" style="background-color:green;width:20px;">
                </tr>
                <tr>
                  <td><input id="ncod" type="checkbox" checked/>NCODs</td>
                  <td id="legend_color_cell" style="background-color:rgb(170, 68, 102);width:20px;">
                </tr>
                <tr>
                  <td><input id="hod" type="checkbox" checked/>HODs</td>
                  <td id="legend_color_cell" style="background-color:orange;width:20px;">
                </tr>
              </table>
            </form>
          `;
          return div;
      };

      legend.addTo(map);

      // add the event handlers
      function handleCommand1() {
         if (this.checked) {
           map.addLayer(tod_data);
         } else {
           map.removeLayer(tod_data);
         }
      }
      function handleCommand2() {
         if (this.checked) {
           map.addLayer(ncod_data);
         } else {
           map.removeLayer(ncod_data);
         }
      }
      function handleCommand3() {
         if (this.checked) {
           map.addLayer(hod_data);
         } else {
           map.removeLayer(hod_data);
         }
      }

      document.getElementById ("newberntod").addEventListener ("click", handleCommand1, false);
      document.getElementById ("ncod").addEventListener ("click", handleCommand2, false);
      document.getElementById ("hod").addEventListener ("click", handleCommand3, false);
    }
  </script>
  <script type="text/javascript">
    // Add geojson data here so the source is a little easier to read.
    var None = null;
    var geojsonFeature = {{tod_zoning_data|safe}};
    var geojsonFeature_ncod = {{ncod_data|safe}};
    var geojsonFeature_hod = {{hod_data|safe}};
  </script>
  {%endblock content%}