<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <style>
      body {
        padding-top: 1rem;
      }
      .leaflet-container {
        height: 100%;
      }
      #legend_form{
        background: white;
        border-radius: 10px;
        padding: 10px;
      }
      #legend_color_cell{
        width: 20px;
      }
    </style>

    <title>{{page_title}}</title>
    {% load static %}

    <!-- Bootstrap core CSS -->
    {% include "includes/bootstrap_css.html" %}
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
  </head>
  <body>
  {% block content %}{% endblock %}
  {% include "includes/bootstrap_js.html" %}
</body></html>