<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{page_title}}</title>
    {% block extra_head %}{% endblock %}

    <!-- Bootstrap core CSS -->
    {% include "includes/bootstrap_css.html" %}

    <style>
      body {
        padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }
    </style>
  </head>
  <body>
  {% block content %}{% endblock %}
  {% include "includes/bootstrap_js.html" %}
</body></html>